<header class="header">
	<div class="header-container">

		<img src="./images/profile-circle.png" style="display: block; margin: auto">

		<h1 class="name" style="color: white; text-align: center"> {{ site.motto }} </h1>

		<ul class="social-links" style="text-align: center">
			<li>
				<a target="_blank" href="https://github.com/{{ site.github_username }}" title="Github" class="icon fa fa-github fa-2x">
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.linkedin.com/in/ejkinger" title="Linkedin" class="icon fa fa-linkedin fa-2x">
				</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/ejkinger" title="Twitter" class="icon fa fa-twitter fa-2x">
				</a>
			</li>
			<!-- <li>
				<a href="/feed.xml" title="RSS" class="icon fa fa-rss fa-2x">
				</a>
			</li> -->
		</ul>		
		<div class="navWrap">
			<div class="nav">
				{% if page.path == "index.html" %}
				<span class="title">
					<li>
						<a href="/index.html">home</a>
					</li>
				</span>			
				{% else %}
					<li>
						<a href="/index.html">home</a>
					</li>			
				{% endif %}
				{% if page.path == "archive.html" %}
				<span class="title">
					<li>
						<a href="/archive.html">archive</a>
					</li>
				</span>			
				{% else %}
					<li>
						<a href="/archive.html">archive</a>
					</li>			
				{% endif %}
				{% if page.path == "category.html" %}
				<span class="title">
					<li>
						<a href="/category.html">category</a>
					</li>
				</span>			
				{% else %}
					<li>
						<a href="/category.html">category</a>
					</li>			
				{% endif %}
				{% if page.path == "about.html" %}
				<span class="title">
					<li>
						<a href="/about.html">about</a>
					</li>
				</span>			
				{% else %}
					<li>
						<a href="/about.html">about</a>
					</li>			
				{% endif %}
			</div>
		</div>
	</div>
</header>
